# Virtual environment
env/
venv/
.venv/

# Models
.Models
.models
*.pkl
models

# Folders inside notebooks/ that contain generated data or temporary files
notebooks/catboost_info/
notebooks/Encoder Tersimpan/
notebooks/Hasil DepthPro/
notebooks/Hasil_YOLO/
notebooks/Model_Tersimpan/

# Specific data files you might want to ignore (based on your screenshot)
notebooks/*.xlsx

# Byte-code files
__pycache__/
*.pyc

# Operating System files
.DS_Store 
Thumbs.db

# Flask/Python specific
.flaskenv 
.env      
*.sqlite3 

# IDE-specific files (contoh untuk VS Code, IntelliJ/PyCharm)
.vscode/
.idea/

# Node.js dependencies
node_modules/