# Virtual environment
env/
venv/
.venv/

# Models
.Models
.models
models

# Byte-code files
__pycache__/
*.pyc

# Operating System files
.DS_Store 
Thumbs.db

# Flask/Python specific
.flaskenv 
.env      
*.sqlite3 

# IDE-specific files (contoh untuk VS Code, IntelliJ/PyCharm)
.vscode/
.idea/